
/* Styling for the container that holds the forms */
.container {
  
    backdrop-filter: blur(1px); /* Adjust the blur intensity as needed */
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the background color and opacity as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
  margin-right: auto; 
  display: flex;
  justify-content: space-around;
}

/* Styling for the login and sign up forms */
.form {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  margin-right: 50px; 
}


/* Styling for buttons */
button {
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
}
/* Add this to styles.css */

.form-group {
  margin-bottom: 15px; /* Adjust as needed */
}
body {
  background-image: url('img1.jpg');
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  height: 100vh; /* Set the height to at least the height of the content */
  margin: 0; /* Remove default margin */
  display: flex;
  align-items: center;
  justify-content: center;
}


.login{
  background: linear-gradient(to left, #027e11 20%, #f4f0c5 80%);

  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  height: 100vh; /* Set the height to at least the height of the content */
  margin: 0; /* Remove default margin */
  display: flex;
  align-items: center;
  justify-content: center

}



.cont {
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-left: auto; 
  
}

.welcome-heading {
  font-size: 36px;
  margin-bottom: 20px;
}
.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.cont {
  margin: 0 auto;
}

#top-tag {
  font-size: 4em;
  position: fixed; /* Set the position to fixed */
  top: 0; /* Place the element at the top of the viewport */
  left: 0; /* Align to the left */
  width: 100%; /* Make it full width */
  
  padding: 10px; /* Add some padding for better visibility */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
  z-index: 1000; /* Set a high z-index to ensure it's on top of other elements */
}

/* Your additional styles for the page content go here */

